html, body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    width: 100%;
    height: auto;
    padding: 20px 0;
    background-color: burlywood;
    color: #fff;
    font-size: 3em;
    font-family: "Dancing Script";
    opacity: 0.5;
}
p{
    width: 50%;
    height: auto;
    padding: 20px 25%;
    text-align: justify;
    font-size: 1em;
}
img{
    width: 100%;
    height: auto;
    max-width: 1000px;
}
